*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Sofia", sans-serif;
    background-image:url("https://pin.it/MLUw2lJ");
    color: aliceblue;
}

    

.text-center{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

h1{
    margin-bottom: 25px;
}

#survey-form{
     display:flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     border: 5px solid rgba(0, 68, 255, 0.192);
     background-color: rgba(0, 68, 255, 0.3);
     margin-left: 400px;
     margin-right: 400px;
     margin-bottom: 250px;
     
}

#name,#email, #number, #dropdown, #textarea {
    width: 50%;
    display: flex;    
}

#dropdown{
    margin-bottom: 25px;
}

#submit{
    width: 300px;
    height: 50px;
}

.experience-title, .career-title{
    margin-bottom: 25px;
}

.alignment{
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
}

.alignment input{
    width: 35%
}

button{
    margin-top: 25px;
}

